<a href="https://colab.research.google.com/github/saikarthik34/23CSBTB27-28/blob/main/list_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1 â€“ Implement Basic Data Structures using Numpy, Pandas

In [4]:
import numpy as np
list = {1,5,2,6,7}
list1=[3,6,1,8]
print(list)
print(list1)
print(type(list))
print(type(list1))

{1, 2, 5, 6, 7}
[3, 6, 1, 8]
<class 'set'>
<class 'list'>

In [7]:
List = ["Geeks", "For", "Geeks"]
List2 = "my first lab"
List3 = 4.3
List4 = 2j+6
List5 = 'My first lab'
print(type(List))
print(type(List2))
print(type(List3))
print(type(List4))
print(type(List5))
print("\nList Items: ")
print(List)
print(type(List))
print(List[0])
print(List[2])

<class 'list'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>

List Items:
['Geeks', 'For', 'Geeks']
<class 'list'>
Geeks
Geeks